{% extends "base.html" %}

{% block content %}

<div id="container-fluid">
	<a class="btn btn-info" role="button" href="{% url 'icreate' %}">Nuovo</a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      	<th scope="col">#</th>
      	<th scope="col">Nome</th>
      	<th scope="col">Calorie</th>
      	<th scope="col">&nbsp;</th>
      	<th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for ingrediente in ingredienti %}
    <tr>
	<th scope="row">{{ ingrediente.pk }}</th>
	<th scope="row">{{ ingrediente.nome }}</th>
	<th scope="row">{{ ingrediente.calorie }}</th>
	<th scope="row"><a class="btn btn-info" role="button" href="/catalogo/ingredienti/{{ ingrediente.pk }}/update">Modifica</a></th>
	<th scope="row"><a class="btn btn-info" role="button" href="/catalogo/ingredienti/{{ ingrediente.pk }}/delete">Cancella</a></th>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
